<h1>Editing <%= @book.title %></h1>

<%= form_for(@book) do |f| %>
	<p>
		<%= f.label :title %></br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %></br>
		<%= f.text_area :description, cols: 40, rows: 7 %>
	</p>
	<p>
		<%= f.label :rating %></br>
		<%= f.text_field :rating %>
	</p>
	<p>
		<%= f.label :price %></br>
		<%= f.number_field :price %>
	</p>
	<p>
		<%= f.label :released_on %></br>
		<%= f.datetime_select :released_on %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>