<h1><%= pluralize(@books.size, "Book") %></h1>

<% @books.each do |book| %>
  <article>
    <header>
      <h2><%= book.title %></h2>
    </header>
    <p>
      <%= truncate(book.description, :length => 40, :separator => ' ') %>
    </p>
    <table>
      <tr>
        <th>Released:</th>
        <td><%= book.released_on %></td>
        <td> (<%= time_ago_in_words(book.released_on).capitalize %>)</td>
      </tr>
      <tr>
        <th>Rating:</th>
        <td><%= book.rating %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= format_price(book) %></td>
      </tr>
      <tr>
        <td><%= link_to book.title, book %> 
      </tr>
    </table>
  </article>
<% end %>
